<%- include("partials/header.ejs") %>
  <h1>Response from CoinMarketCap</h1>
  <div>
    <div class="response-area">
      <% if (!locals.data) { %> 
        <h2> No data found </h2>
      <% } else { %>
        <h2>data boyutu <%= data.length %></h2>
        <ul>
          <% for (let index = 0; index < ids.length; index++) { %>
            <li> ID: <%= data[ids[index]].id %> Symbol: <%= data[ids[index]].symbol %> Name: <%= data[ids[index]].name %></li>
          <% }; %> 
        </ul>  
       <% } %>
    </div>
    <form id="myForm" method="post">      
      <input class="btn btn-success" type="submit" value="Cryptocurreny Map" formaction="/map_cryptocurreny">
      <input class="btn btn-success" type="submit" value="Exchange List" formaction="/list_exchange">      
      <!--<input id="put" type="submit" value="PUT" formaction="/put-secret">
      <input id="patch" type="submit" value="PATCH" formaction="/patch-secret">
      <input id="delete" type="submit" value="DELETE" formaction="/delete-secret">-->
    </form>
  </div>
<%- include("partials/footer.ejs") %>